.blUe{
    color: blue;
 }

.pap{
    font-size: 20px;
}

.bOrder{
    border: 5px solid red;
   }

.noOne{
   text-decoration: none;
  }

.highLight{
    background-color: yellow;
      }

.tíTulo{
    font-weight: bold;
   }